*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #333;
    color:white;
}

.container{
    max-width:700px;
    margin: 0 auto;
    box-sizing:border-box;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items: center;
}
header{
    display:flex;
    justify-content: space-between;
    width:100%;
    align-items: center;
}
header>p{
    font-size:1.5rem;
    font-weight:700;
}
header>ul{
    display:flex;
}
header>ul>li{
    list-style-type:none;
    margin-left:1.5rem;
}
header>ul>li:first-child>a{
    border-bottom:5px solid white;
}
header>ul>li>a:hover{
    border-bottom:5px solid gray;
}
header>ul>li>a{
    text-decoration: none;
    color:white;
}
@media screen and (max-width:500px){
header{
    flex-direction: column;
}
}
